<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Thinkpower.BindingANDROID.AMap_Map" version="2.2.0.14-pre" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.0.0.0" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Forms" version="1.4.1.6349" targetFramework="MonoAndroid22" />
</packages>